<app-home></app-home>
<body class="container-fluid bg-dark">
    <div class="row  bg-dark">
        <div class="col-sm-5 mar">
            <div > 
                <p class="text-light old">123 Calle</p>
                <p class="text-light old">Chosica-Lima-Peru</p>
            </div>
            <div>
                <b class="text-light old">Telefono</b>
                <p class="text-light old" >Chosica-Lima-Peru</p>
            </div>
            <div>
                <b class="text-light old">Recepcion</b>
                <p class="text-light old">Chosica-Lima-Peru</p>
            </div>
            <div>
                <b class="text-light old">Reservas de hotel</b>
                <p class="text-light old">Chosica-Lima-Peru</p>
            </div>
            <div>
                
               <p class="text-light old">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut diam quam nulla porttitor massa. Fermentum iaculis eu non diam. Leo integer malesuada nunc vel. Aliquam ultrices sagittis orci a scelerisque purus semper eget. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Scelerisque purus semper eget duis at tellus at urna. Vitae sapien pellentesque habitant morbi. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Pellentesque sit amet porttitor eget dolor morbi non. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Non odio euismod lacinia at quis. Dolor sit amet consectetur adipiscing elit duis tristique. Dui sapien eget mi proin sed libero enim.

                Proin nibh nisl condimentum id venenatis a condimentum. Ac tortor dignissim convallis aenean et tortor at risus viverra. Elit sed vulputate mi sit amet mauris commodo quis imperdiet. Aliquam ut porttitor leo a diam sollicitudin tempor id. In nisl nisi scelerisque eu ultrices vitae. Neque gravida in fermentum et. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Fermentum et sollicitudin ac orci phasellus egestas tellus. Facilisis gravida neque convallis a cras semper auctor. Purus faucibus ornare suspendisse sed. Volutpat blandit aliquam etiam erat velit. Vitae et leo duis ut diam quam. Faucibus pulvinar elementum integer enim neque. Eget sit amet tellus cras adipiscing enim. Suspendisse interdum consectetur libero id faucibus nisl. Elementum curabitur vitae nunc sed. Nulla aliquet porttitor lacus luctus accumsan. Euismod elementum nisi quis eleifend quam adipiscing. Sit amet cursus sit amet dictum sit amet justo.</p>
            </div>


        </div>
        <div class="col-sm-7 mar">
            <p class="text-light old">aqui deve ir un api de google maps</p>
        </div>
    </div>    
    
</body>
    <div class="container-fluid">
        <img class="img-responsive" src="../assets/img/esperamos su visita.jpg" alt="">
    </div>
  <div class="container-fluid bg-light text-center cent">
    <i class="fa fa-instagram"></i>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-facebook-messenger"></i>
    <i class="fa fa-whatsapp"></i>
        <h4>El Gran Hotel</h4>
        <p>Avenida La Paz 1099, Lima, 18, Perú</p>
        <p><a href="">Teléfono: 51-1-200-8000</a> / <a href="">Fax: 51-1-200-8080</a></p>
  </div>
  <div class="container-fluid bg-dark">
    
  </div>
