<nav class="navbar bg-dark navbar-dark ">
    <!-- Brand/logo -->
    <!--<a class="navbar-brand" href="#"></a>-->
    <img src="/assets/img/logo.jpg" alt="" class="rounded navbar-brand ">
    
    <!-- Links -->
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-light" href="#" routerLink="/servic">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#" routerLink="/fotos">Fotos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#" routerLink="/contac">Contactanos</a>
      </li>
      <li>
          <button class="btn btn-primary" onclick="login()" routerLink="/login"><i class="fa fa-user " ></i>  Logueo</button>
      </li>
    </ul>
  </nav>
