<app-home></app-home>
<body class="container-fluid bg-dark">
    <div></div>
   
    
</body>
    <div class="container-fluid bg-dark contenedor">
    
        <img  class="cort" src="../assets/img/room.jpg" alt="">
        <div class="centrado">
            <!--<b class="text-light texr">Esperamos con ansias tu estadia.</b>-->
            <h1 class="text-light ">Esperamos con ansias tu estadia.</h1>
        </div>
    
    </div>
  <div class="container-fluid bg-light text-center cent">
    <i class="fa fa-instagram"></i>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-facebook-messenger"></i>
    <i class="fa fa-whatsapp"></i>
        <h4>El Gran Hotel</h4>
        <p>Avenida La Paz 1099, Lima, 18, Perú</p>
        <p><a href="">Teléfono: 51-1-200-8000</a> / <a href="">Fax: 51-1-200-8080</a></p>
  </div>
  <div class="container-fluid bg-dark">
    
  </div>
