
<div class="container border contenedor centrado">
    <img src="../assets/img/Imagen1.png" class="container-fluid">

    <div  class="container text-center centrado cajita-dark  "  >
        <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
            <i class="fa fa-user fa-5x " ></i>
            <p class="pop">Username</p>
            <input type="text" class="form-control" name="nomusuario" #nomusuario="ngModel" [(ngModel)]="usuario.nomusuario"  >
            <p class="pop">Password</p>
            <input type="password" class="form-control"  name="clave" #clave="ngModel" [(ngModel)]="usuario.clave">
            <div class="container text-center cent">
            <input type="submit" class="btn btn-danger pop" value="Ingresar">
            </div>  
        </form>
       
    </div>
    
</div>