<app-home></app-home>
<body class="container-fluid bg-dark">
    <div class="container-fluid">
      <img src="../assets/img/Imagen1.png" class="container-fluid">
    </div>
    <div class="container-fluid row cent">
      <div class=" col-sm-6 ">
        <img src="../assets/img/habitacion.jpg" class="container"alt="">
      </div>
      <div class="col-sm-4">
        <h1 class="text-white">Habitaciones</h1>
        <p class="text-white">Diseñado para ser un santuario en el medio de la ciudad. El Gran Hotel sabe que con un poco de comodidad se logra mucho. </p>
        <button class="btn btn-danger">Ver mas</button>
      </div>
      
    </div>
    <div class="container-fluid row cent central-content ">
      <div class="col-sm-6 ">
        <h1 class="text-white">Contactanos</h1>
        <p class="text-white">Diseñado para ser un santuario en el medio de la ciudad. El Gran Hotel sabe que con un poco de comodidad se logra mucho. </p>
        <button class="btn btn-danger">Ver mas</button>
      </div>
      <div class=" col-sm-6 ">
        <img src="../assets/img/servicios.jpg" class="container"alt="">
      </div>
    </div>
    <div class="container-fluid row cent">
      <div class=" col-sm-6 ">
        <img src="../assets/img/servvicios.jpg" class="container"alt="">
      </div>
      <div class="col-sm-4 central-content">
        <h1 class="text-white">Servicios</h1>
        <p class="text-white">Diseñado para ser un santuario en el medio de la ciudad. El Gran Hotel sabe que con un poco de comodidad se logra mucho. </p>
        <button class="btn btn-danger">Ver mas</button>
      </div>
    </div>
    
  </body>
  <div class="container-fluid bg-light text-center cent">
    <i class="fa fa-instagram"></i>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-facebook-messenger"></i>
    <i class="fa fa-whatsapp"></i>
        <h4>El Gran Hotel</h4>
        <p>Avenida La Paz 1099, Lima, 18, Perú</p>
        <p><a href="">Teléfono: 51-1-200-8000</a> / <a href="">Fax: 51-1-200-8080</a></p>
  </div>
  <div class="container-fluid bg-dark">
    
  </div>
